@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* transition: all .1s ease-in-out */
}
html {
  scroll-behavior: smooth;
}
@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
  a.active {
    @apply dark:text-green-500 text-green-700;
  }
  a.active::after {
    content: ' />';
  }
  a.active::before {
    content: '< ';
  }
  .text-gray-500 em {
    @apply dark:text-white text-black not-italic;
  }
}
